<!-- Etiqueta a que ayuda a crear los link de los modulos, se le añada las propiedades de Material Angular
para que se forme como una lista vertical
Se usa el *ngFor para hacer un recorrido al array menuItems() que contiene la lista de modulos a usar -->
<a
    mat-list-item
    class = "menu-item"
    [routerLink] = "['/principal', item().route]"
    (click) = "toggleNested()"
    routerLinkActive = "selected-menu-item"
    #rla = "routerLinkActive"
    [activated] = "rla.isActive">
    <!-- Componente de Material Angular que permite usar iconos y se le añade la propiedad de lista de iconos
    como items para que se tengan el mismo tamaño -->
    <mat-icon [fontSet] = "rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
        <!-- Inyección del icono segun lo que este en el array menuItems() -->
        {{ item().icon }}
    </mat-icon>
    @if (!collapsed())
    {
        <!-- Agrupa en una sola linea el icono y el texto -->
        <span matListItemTitle >
            {{ item().label }}
        </span>
    }
    @if(item().subItems)
    {
        <span matListItemMeta>
            @if(nestedMenuOpen())
            {
                <mat-icon>
                    expand_less
                </mat-icon>
            }
            @else
            {
                <mat-icon>
                    expand_more
                </mat-icon>
            }
        </span>
    }
</a>

@if(item().subItems && nestedMenuOpen())
{
    <div @expandContractMenu>
        @for (subItem of item().subItems; track subItem.label)
        {
            <!-- Etiqueta a que ayuda a crear los link de los modulos, se le añada las propiedades de Material Angular
            para que se forme como una lista vertical
            Se usa el *ngFor para hacer un recorrido al array menuItems() que contiene la lista de modulos a usar -->
            <a
            mat-list-item
            class = "menu-item"
            [class.indented] = "!collapsed()"
            [routerLink] = "['/principal' + '/' + item().route + '/' + subItem.route]"
            routerLinkActive
            #rla = "routerLinkActive"
            [activated] = "rla.isActive">
            <!-- Componente de Material Angular que permite usar iconos y se le añade la propiedad de lista de iconos
            como items para que se tengan el mismo tamaño -->
            <mat-icon [fontSet] = "rla.isActive ? 'material-icons' : 'material-icons-outlined'" matListItemIcon>
                <!-- Inyección del icono segun lo que este en el array menuItems() -->
                {{ subItem.icon }}
            </mat-icon>
            @if (!collapsed())
            {
                <!-- Agrupa en una sola linea el icono y el texto -->
                <span matListItemTitle >
                    {{ subItem.label }}
                </span>
            }
            </a>
        }
    </div>
}