<h2 mat-dialog-title>Nuevo Estado</h2>

<form [formGroup]="estadoForm" (ngSubmit)="onSave()">
  <mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Nombre del Estado</mat-label>
      <input matInput formControlName="c_Estado" required />
      <mat-error *ngIf="estadoForm.get('c_Estado')?.invalid && estadoForm.get('c_Estado')?.touched">
        El nombre es requerido
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="estadoForm.invalid">Guardar</button>
  </mat-dialog-actions>
</form>
