/* Estilos para la tarjeta */
mat-card {
    margin: 20px;
  }
  
  /* Estilos para la tabla */
  .mat-table {
    width: 100%;
  }
  
  .mat-header-cell {
    background-color: #f1f1f1;
    font-weight: bold;
  }
  
  .mat-cell {
    padding: 8px;
  }
  
  .mat-button {
    margin-right: 5px;
  }
  
  /* Estilos para las filas alternas */
  .mat-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .mat-row:hover {
    background-color: #e0e0e0;
  }
  
  /* Estilos para la cinta (toolbar) */
  .toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Estilos para el botón de la toolbar */
  mat-toolbar button {
    margin-left: auto;
  }
  
  mat-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  mat-card-content {
    padding: 16px;
  }
  
  button {
    margin: 0 8px;
  }
  