table {
    left: 200px; //izquierda
    right: 200px;
    top: 1px;
    bottom: 0px;
    position: sticky;
}

.paginator {
    left: -5px; //izquierda
    right: 80px;
    top: 0px;
    width: 100%;
    position: relative;
}