<div class = "login-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <img src="assets/images/users.png" alt="User Icon" class="title-icon">
                Iniciar Sesión
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form>
                <mat-form-field appearance = "fill">
                    <mat-label>
                        Usuario:
                    </mat-label>
                    <input matInput type = "text" required>
                </mat-form-field>
                <mat-form-field appearance = "fill">
                    <mat-label>
                        Contraseña:
                    </mat-label>
                    <input matInput type = "password" required>
                </mat-form-field>
                <div class = "button-group">
                    <button mat-raised-button color = "primary" (click) = "onLogin()">
                        Ingresar
                    </button>
                    <button mat-raised-button color = "warn" (click) = "onExit()">
                        Salir
                    </button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>