<h1 mat-dialog-title>Agregar Nueva categoria</h1>
<div mat-dialog-content>
  <form [formGroup]="categoriaForm">

    <mat-form-field appearance="fill">
      <mat-label>Categoria</mat-label>
      <input matInput formControlName="c_Categoria"/>
      <mat-error *ngIf="categoriaForm.controls['c_Categoria'].hasError('required')">
        El nombre del Categoria es obligatorio.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
    <mat-label>Id Tecnico</mat-label>
      <input matInput formControlName="id_TecnicoDefault" />
      <mat-error *ngIf="categoriaForm.controls['id_TecnicoDefault'].hasError('required')">
        El id de tecnico es obligatorio.
      </mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()">Guardar</button>
</div>
