.container {
  display: flex;
  justify-content: center;
  align-items: center;

  /* Centra el contenedor verticalmente */
}

.form {
  width: 500px;
  /* Ancho del formulario */

  margin: 0 auto;
  /* Centra el formulario horizontalmente */
}

.mat-card {
  padding: 20px;
  /* Espaciado interno del mat-card */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* Sombra para darle profundidad */
}

.full-width {
  width: 100%;
  /* Asegura que los inputs ocupen el ancho completo */
}

.button-row {
  display: flex;
  justify-content: center;
  gap: 16px;
  /* Distribuye botones con espacio a los lados */
  margin-top: 20px;
  /* Espacio superior en los botones */
}

.mat-form-field {
  width: 90%;
  /* Asegura que los campos de formulario tengan ancho completo */
}
