<div class="container">
  <h1>Formulario Estado</h1>
</div>
<div class="form">
  <form [formGroup]="catForm" (ngSubmit)="guardar()">
    <div class="container my-10">
      <mat-card appearance="outlined" class="car">
        <div class="row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="nombre">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Fecha de creación</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="fechaCreacion">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div class="row mt-3"> <!-- Reemplazado el <br> por una clase de margen de Angular Material -->
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descripción</mat-label>
            <input matInput type="text" formControlName="descripcion">
          </mat-form-field>

          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Estado</mat-label>
            <mat-select formControlName="estado">
              <mat-option *ngFor="let estado of  estado" [value]="estado.id">
                {{ estado.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="button-row">
          <a mat-button routerLink="/tablaEstado">
            Ver Tabla
          </a>
          <button [disabled]="catForm.invalid" mat-flat-button color="primary" type="submit">
            Guardar
          </button>
        </div>
      </mat-card>
    </div>
  </form>
  </div>
