.card {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-left: 24%;
    margin-right: 24%;

}

mat-form-field {
    width: 100%;
    height: 80%;
    margin: 5px;
}

.btnAgregar {
    margin-right: 5px;
    color: #ffffff

}

.example-form-field {
    margin-right: 20px;
    color: #ffffff

}

table {
    width: 100%;

}

.delete {
    cursor: pointer;
    color: #E15639;
}

.edit {
    cursor: pointer;
    color: #1878B0;
}

.search {
    cursor: pointer;

}

  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .tabla{
    margin-left: 25%;
    margin-right: 25%;
  }
